.meal{
    border: brown 2px solid;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}



.meal img{
    width: 100%;
    border-radius: 5px;
}

.btn{
    font-size: 1.2rem;
    font-weight: 700;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.664);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.btn:hover{
    background-color: brown;
}