.mealdb{
    margin: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.meal-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 0 15px;
}

.cart-container{
    margin: 0 15px;
    border: 2px solid brown;
    border-radius: 5px;
    padding: 5px;
    
}
.cart{
    position: sticky;
    top: 0;
}